/* Hides Store And Shop Button */
[href="/store"],
[href='/shop'] {
    display: none;
}

.gradient_aa1bff,
.footer_aa1bff {
    display: none;
}


/* Hide Send Gift Button */
button[aria-label="Send a gift"] {
    display: none;
}

/* Hide Sticker Picker Button */
button[aria-label="Open sticker picker"] {
    display: none;
}

/* hide forward button on Message Buttons */
#message-actions-forward {
    display: none;
}
div[aria-label="Forward"] {
    display: none;
}


/*remove emojis on message hover bar thing*/
div[class^="buttonContainer"]>div>div {

    >div[aria-label^="Click to react with"],
    >div[aria-label^="Click to remove"] {
        display: none;
    }
}


button[aria-label="Insert Timestamp"],
button[aria-label="Open Translate Modal"]:not(:has(.vc-trans-auto-translate)),
button[aria-label="Disable Silent Typing"] {
    opacity: 0.3;
    transition: opacity 0.5s; /*fade-out*/
}

/* Fade in effect on hover */
button[aria-label="Insert Timestamp"]:hover,
button[aria-label="Open Translate Modal"]:hover,
button[aria-label="Disable Silent Typing"]:hover {
    opacity: 1;
    transition: opacity 0.2s; /*fade-in*/
}

/* Removes Edit with Apps Icon on Images */
[aria-label="Edit Image with Apps"] {
    display: none;
}

/*Remove Nitro Ads*/
.container_da1432 { /*Banner In Profile Settings*/
    display: none;
}

/* Image Large Preview forward button*/
.forward_a15d41 {
    opacity: 0.3;
}
.forward_a15d41:hover {
    opacity: 0.8;
}

/* Hide all discord support stuff */
[href="https://support.discord.com"] {
    display: none;
}
.icons_d4626d > [aria-label="What's this?"] { /*Spotify Listen Along Help button when host*/
    opacity: 0;
    width: 0px;
    padding-left: 8px;
    pointer-events: none;
}

/* Remove the activity panel for screen sharing your current game in user area*/
.activityPanel_a4d4d9 {
    display: none;
}

/* Remove the Play again activity thing from dm channel list */
.headerContainer_e5a9ed {
    display: none;
}