@import url("https://cdn.jsdelivr.net/gh/AshesHub/discord-stuff@main/Spotify-Mini-Player.min.css");

#vc-spotify-player {
    --blur-amount: 4px; /* higher px = stronger blur, 0 = no blur */
}

#vc-spotify-info-wrapper #vc-spotify-album-image {
    pointer-events: none;
    width:  700%; 
    height: 700%;
    margin-bottom: 120%;
    border-radius: 4px;
}

#vc-spotify-player {
    padding-top: 100%!important ;
}

#vc-spotify-titles {
    position: absolute;
    max-width: 100%;
}
